<nav class="navbar navbar-expand-lg navbar-dark semitrans">
    <div class="container-fluid">
        <i class="fas fa-project-diagram navbar-icon-style"></i><a class="navbar-brand" href="/">Análise de Rede Comportamental</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <!--<a class="nav-link" href="/"><i class="fas fa-file-alt"></i> Voltar ao Início</a> -->
                </li>
            </ul>
        </div>
    </div>
</nav>